<h1>PET WATCH</h1>

<h2>Thanks for submitting your pet's information!</h2>

<h3>We know it's a tough time for you, so we will keep you updated via email if anyone alerts us to your missing pet.</h3

<h2> <%= pet.name %>  </h2>


<!-- link to photo uploaded with paperclip gem goes here. -->

 Size
 Breed
 Color
 Date Lost

 Contact Information
 Name
 Email Address
 Phone Number


   button = BROWSE FOUND pets
 </address>
