<h2>Here are some useful links to further your search</h2>
</h2>
<ul>
    <li><a href="http://www.warl.org/">The Washington Animal Rescue League-Medical Center</a></li>
    <li><a href="http://support.washhumane.org/site/PageServer?pagename=lostfoundpet&AddInterest=1047">Washington Humane Society</a></li>
</ul>
